// Reset all default styles
* {
    all: unset;
}

// General slider styles
scale {
    trough {
        background-color: $polar2;
        border-radius: 4px;
        min-height: 6px;
    }

    highlight {
        background-color: $frost1;
        border-radius: 3px;
    }

    slider {
        background-color: $snow0;
        border: 2px solid $frost1;
        border-radius: 50%;
        min-width: 16px;
        min-height: 16px;

        &:hover {
            background-color: $frost1;
        }

        // Switch variant
        &.switch {
            background-color: $polar2;
            border-radius: 12px;
            min-width: 44px;
            min-height: 12px;

            &:checked {
                background-color: $frost1;
            }
        }
    }
}
