// Main SCSS file - import all partials here
@import "colors";
@import "reset";
@import "panel";
@import "chat";
@import "jisig";
@import "launcher";
@import "osd";
@import "control_center/mod";
@import "notifications";
@import "power_menu";
